.single {
    padding: 20px 15px;
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.single h3.side-title:after {
    content: '';
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li a {
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 25px;
    display: block;
    text-decoration: none;
}
.single li a:hover {
    color: #ff173c;
}

.single li:last-child a {
    border-bottom: 0;
}

.cus-small{
    font-size: 10px;
}

// Starting from here is my custom style

.profile-picture img{
    width: 170px;
}

.set-font-size input, .set-font-size button, .set-font-size select, .set-font-size textarea{
    font-size: 12px;
}

.active{
    color: #ff173c !important;
    font-weight: 400;
}
.c-margin-right{
    margin-right: 3px;
}

td.details-control {
    background: url('./images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('./images/details_close.png') no-repeat center center;
}
